/* Container */
.container {
    width: 98%;
    margin-top: 40px;
    background-color: var(--white-color);
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .05);
    padding-left: 0;
    margin-right: 2%;
    border-radius: 8px;
}

.business-service {
    margin: 32px 16px;
}

.business-service__heading {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}

.business-service__title {
    font-weight: 600;
}

.business-service__create-btn {
    margin-right: 48px;
    background-color: #00D25B;
    color: var(--white-color);
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}



.table__header th {
    font-weight: 700;
    font-size: .6rem;
    color: #8392ab;
    text-transform: uppercase;
    opacity: .7;
    padding-bottom: 12px;
}

.table__header-name {
    width: 200px;
}

.table__header-desc {
    width: 500px;
    display: block;
}

.table__header-price,
.table__header-status {
    width: 100px;
}

.table__body-item td {
    padding: 16px 0;
    /* margin-top: 24px; */
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    box-sizing: border-box;

}

textarea {
    width: 90%;
    height: 25px;
    box-sizing: border-box;
}

input{
    width: 80%;
}

.table__body-item-new input,
.table__body-item-new textarea{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--text-color);
    background-color: transparent;
}

.toggle-btn {
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    padding: 4px;
    border-radius: 4px;
}

.table__body-edit,
.table__body-toggle {
    width: 100px;
    color: var(--primary-color);
    cursor: pointer;
}

.table__body-item-new td{
    padding-top: 24px;
}

.save-btn{
    background-color: var(--primary-color) !important;
    color: var(--white-color);
    border: none !important;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: 24px;
}

.enabled {
    color: #81E12F;
}

.disabled {
    color: #99A9C9;
}