/* Header */
.header{
    height: 100px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-link{
    text-decoration: none;
    color: var(--primary-color);
}

.header__item-logo{
    margin-bottom: 24px;
}

/* Container */
.container{
    width: 920px;
    height: 590px;
    padding: 20px 32px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.back-link:hover,
.back-link:focus{
    text-decoration: none;
    color: var(--primary-color);
}

.introduction-block{
    display: block;
    margin: 0 auto;
    text-align: center;
}


.introduction-block__heading{
    font-size: 3.2rem;
    font-weight: 600;
}

.commitment{
    display: block;
    text-align: start;
    font-size: 2rem;
    margin-left: 32px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.commitment i{
    font-size: 3rem;
    margin-right: 16px;
    color: var(--primary-color);
}

.direct-btn{
    width: 100%;
    margin-top: 32px;
    display: flex;
    justify-content: space-evenly;

}

.seller-name{
    width: 100%;
    font-size: 2.2rem;
    margin-left: 16px;
}

.seller-name input{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--text-color);
    width: 50%;
}

.next-btn{
    font-size: 2rem;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 24px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    cursor: pointer;
}

.cancel{
    background-color: #fd0e35;
}

.next-btn:hover,
.next-btn:focus{
    text-decoration: none;
    color: var(--white-color);
    opacity: 0.8;

}

.footer__item-desc{
    font-size: 1.4rem;
}



































