.order-list {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    /* margin: 0 114px; */
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

.table-order-header,
.table-order-detail { /*th,td*/
    text-align: center;
    padding: 16px;
    font-weight: 400;
}

.table-order-header {
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1.6rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2a4;
}

.table-order-detail select,
.table-order-status-btn {
    height: 35px; 
    padding: 0 5px; 
    font-size: 1.6rem; 
    border-radius: 4px; 
    border: 1px solid;
}
