.container {
    /* margin: auto; */
}

.manage-order {
    width: 100%;
    margin: 0;
}

.table-order-detail select,
.table-order-status-btn {
    height: 34px; 
    padding: 0 5px; 
    /* font-size: 1.6rem;  */
    border-radius: 4px; 
    border: 1px solid;
}

.table-order-status-btn {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--white-color);
    transition: background-color 0.25s ease, color 0.25s ease;
}

.table-order-status-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.line {
    margin: 0;
    margin-top: 10px;
    margin-bottom: -35px;
    border: 1px solid rgba(0, 0, 0, 0.150);
}

.filter-sort {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.filter-order {
    width: 30%;
}

.filter-by-status,
.filter-by-Month,
.sort-order 
{
    font-size: 14px;
    height: 35px;
    border-radius: 0;
    padding: 5px;
    border: 1px solid var(--border-color);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.filter-by-Month {
    margin-left: 8px;
}

.order-list {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 5px 10px 20px 0px;
    overflow-y: auto;
    height: fit-content;
    margin-top: 42px;
}

.order-list::-webkit-scrollbar {
    width: 7px;
}

.order-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

.order-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 20px;
}

.order-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 4px 15px 15px;
}

.order-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10xp;
    border-bottom: 1px solid #eee;
}

.order-header h4 {
    margin: 0p;
    font-size: 1.4em;
    color: #333;
}

.order-header p {
    margin: 5px 0;
    color: #666;
}

.order-header span {
    font-weight: bold;
}

.order-details {
    padding: 10px 0;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.product-table th, .product-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.product-table th {
    background-color: #f4f4f4;
    font-weight: 600;
}

.product-table td {
    color: #555;
}

.product-table tr:last-child td {
    border-bottom: none;
}