<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventFlowerExchange</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">

    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<div id="toast" th:if="${msg != null && msg.message != null && msg.message != ''}" th:fragment="toast">
    <div th:if="${msg.status == '200'}">
        <div class="toast toast--success" style="animation: slightInLeft ease .3s, fadeOut linear 1s 5s forwards;">
            <div class="toast__icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="toast__body">
                <h3 class="toast__title">Successfully!</h3>
                <p class="toast__msg" th:text="${msg.message}"></p>
            </div>
            <div class="toast__close" onclick="closeToast(this)">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>
</div>

<div id="toast1" th:if="${msg1 != null && msg1.message != null && msg1.message != ''}" th:fragment="toast1">
    <div th:if="${msg1.status == '200'}">
        <div class="toast toast--success" style="animation: slightInLeft ease .3s, fadeOut linear 1s 5s forwards;">
            <div class="toast__icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="toast__body">
                <h3 class="toast__title">Successfully!</h3>
                <p class="toast__msg" th:text="${msg1.message}"></p>
            </div>
            <div class="toast__close" onclick="closeToast(this)">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>
</div>

<div id="toast-error" th:if="${error != null}" th:fragment="error">
    <div th:each="errorMessage : ${error.values()}">
        <div class="toast toast--error" style="animation: slightInLeft ease .3s, fadeOut linear 1s 5s forwards;">
            <div class="toast__icon">
                <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="toast__body">
                <h3 class="toast__title">Error</h3>
                <p class="toast__msg" th:text="${errorMessage}"></p>
            </div>
            <div class="toast__close" onclick="closeToast(this)">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>
</div>

<div th:if="${msg.status != '200'}">
    <div class="toast toast--error" style="animation: slightInLeft ease .15s, fadeOut linear 1s .5s forwards;">
        <div class="toast__icon">
            <i class="fas fa-exclamation-triangle"></i>
        </div>
        <div class="toast__body">
            <h3 class="toast__title">Error!</h3>
            <p class="toast__msg" th:text="${msg.message}"></p>
        </div>
        <div class="toast__close">
            <i class="fas fa-times"></i>
        </div>
    </div>
</div>
<div class="wrap">
    <!-- Nav Bar -->
    <nav class="navbar" th:fragment="navbar">
        <div class="grid">
            <div class="navbar__wrap">
                <!-- Phone contact -->
                <div class="navbar__item">
                    <a href="" class="navbar__item-contact-info">
                        <i class="navbar__item-icon fa-solid fa-phone"></i>
                        <span class="navbar__item-phone">070.334.6041</span>
                    </a>
                </div>

                <!-- Currency -->
                <div class="navbar__item">
                    <div class="navbar__item-select" tabindex="0">
                        <span class="navbar__item-select-label">Currency: US Dollar</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="header" th:fragment="header">
        <div class="grid">
            <div class="header__wrap">
                <!-- Logo -->
                <a th:if="${session.acc == null || session.acc.getRole() != 'seller'} " th:href="@{/}" class="header__item">
                    <div class="header__item-logo">
                        <img src="/img/flowrista-logo.png" alt="Logo"
                             class="header__item-logo-img">
                    </div>
                </a>

                <a th:if="${session.acc != null && session.acc.getRole() == 'seller'} " th:href="@{/seller/dashboard}" class="header__item">
                    <div class="header__item-logo">
                        <img src="/img/flowrista-logo.png" alt="Logo"
                             class="header__item-logo-img">
                    </div>
                </a>

                <!-- Mega menu -->
                <div th:if="${session.acc == null || session.acc.getRole() != 'seller'} " class="header__item">
                    <ul class="header__item-megamenu">
                        <li class="header__item-megamenu-item">
                            <a th:href="@{/home}">
                                <span class="header__item-megamenu-item-title">Home</span>
                            </a>
                        </li>

                        <li class="header__item-megamenu-item header__item-megamenu-item__category">
                            <a th:href="@{/buyer/flower}">
                                <span class="header__item-megamenu-item-title header__item-megamenu-item-title-with-icon">Categories</span>
                                <i class="header__item-megamenu-item-icon fa-solid fa-angle-down"></i>
                                <span class="header__item-megamenu-item-label-arrow-offer"></span>
                                <div class="category__block">
                                    <ul class="category__list">
                                        <li th:each="category : ${msg3.categoryList}" class="category__item">
                                            <form th:action="@{/buyer/category/filter}" method="post" class="category__heading">
                                                <input type="hidden" name="categoryId" th:value="${category.id}">
                                                <button>
                                                    <h4 th:text="${category.name}"></h4>
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </a>

                        </li>

                        <li class="header__item-megamenu-item header__item-megamenu-item__product">
                            <a th:href="@{/buyer/flower}">
                                <span class="header__item-megamenu-item-title header__item-megamenu-item-title-with-icon">Products</span>
                            </a>
                        </li>

                        <li class="header__item-megamenu-item header__item-megamenu-item-about">
                            <a th:href="@{/about/us}">
                                <span class="header__item-megamenu-item-title">About Us</span>
                            </a>
                        </li>

                        <li class="header__item-megamenu-item header__item-megamenu-item-about">
                            <a href="#contact">
                                <span class="header__item-megamenu-item-title">Contact Us</span>
                            </a>
                        </li>

                    </ul>
                </div>

                <!-- Icons -->
                <div th:if="${session.acc == null || session.acc.getRole() != 'seller'} " class="header__item">
                    <ul class="header__item-list-icon">
                        <li class="header__item-icon header__item-icon-search" tabindex="0">
                            <i class="header__item-icon-search fa-solid fa-magnifying-glass">
                                <form th:action="@{/buyer/flower/search}" class="header__item-search-box" method="post">
                                    <input type="text" class="header__item-search-input" name="keyword"
                                           placeholder="Search...">
                                    <button class="header__item-search-icon">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </form>
                            </i>
                        </li>
                        <li class="header__item-icon " tabindex="0">
                            <!-- Have not Login -->
                            <i th:if="${session.acc == null}" class="header__item-icon-user-icon header__item-icon-user fa-solid fa-user">
                                <div class="header__item-account">
                                    <a th:href="@{/register}" class="header__item-account-item">Register</a>
                                    <a th:href="@{/login}" class="header__item-account-item">Login</a>
                                </div>
                            </i>
                            <!-- Login successfully -->
                            <div th:if="${session.acc != null}" class="header__item-icon-user">

                                <i th:if="${session.acc.getUser().getAvatar() == '' || session.acc.getUser().getAvatar() == null} " class="header__account-icon fa-solid fa-user"></i>
                                <div th:if="${session.acc.getUser().getAvatar() != '' && session.acc.getUser().getAvatar() != null} ">
                                    <img th:src="${session.acc.getUser().getAvatar()}" alt="Avatar"
                                         class="header__item-icon-user-icon header__item-user-img">
                                </div>
                                <span th:text="${session.acc.getUser().getName()}" id="userName" class="header__item-icon-user-name"></span>
                                <div th:if="${session.acc != null}" class="header__item-account">
                                    <form th:action="@{/account/view/profile}" class="form" method="get">
                                        <input type="submit" name="action" value="My profile"
                                               class="header__item-account-item"></input>
                                        <input type="hidden" name="id" th:value="${session.acc.id}"></input>
                                    </form>
                                    <form th:action="@{/buyer/seller/channel}" class="form" method="get">
                                        <input type="submit" name="action" value="Seller Channel"
                                               class="header__item-account-item"></input>
                                    </form>
                                    <form th:action="@{/account/logout}" class="form" method="get">
                                        <input type="submit" name="action" value="Logout"
                                               class="header__item-account-item"></input>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li class="header__item-icon">
                            <!-- Cart layout -->
                            <div class="header__cart">
                                <div class="header__cart-wrap">
                                    <i class="header__cart-icon fa-solid fa-heart"></i>
                                    <span class="header__cart-notice" th:if="${session.acc == null}"> 0 </span>
                                    <span class="header__cart-notice" th:if="${session.acc != null}"
                                          th:text="${session.acc.getUser().getWishlist().getWishlistItemList().size()}"> 0 </span>

                                    <!-- No wishlist: header__cart-list--no-wishlist -->
                                    <div class="header__cart-list">
                                        <span class="header__cart-list-no-wishlist-msg" th:if="${session.acc == null}">Your shopping wishlist is empty!</span>
                                        <span class="header__cart-list-no-wishlist-msg" th:if="${session.acc != null && session.acc.getUser().getWishlist().getWishlistItemList().isEmpty()}">Your shopping wishlist is empty!</span>

                                        <!-- Cart item -->
                                        <ul class="header__cart-list-item" th:if="${session.acc != null}">
                                            <li class="header__cart-item"
                                                th:each="item : ${session.acc.getUser().getWishlist().getWishlistItemList()}">
                                                <img th:src="${item.flower.flowerImageList[0].link}"
                                                     alt="" class="header__cart-img">
                                                <div class="header__cart-item-info">
                                                    <div class="header__cart-item-head">
                                                        <h5 class="header__cart-item-name"
                                                            th:text="${item.flower.name}">Flower name</h5>
                                                    </div>
                                                    <div class="header__cart-item-body">
                                                        <span class="header__cart-item-qnt"
                                                              th:text="${item.quantity}"></span>
                                                        <span class="header__cart-item-multiply">x</span>
                                                        <!--                                                        <span class="header__cart-item-price" th:text="${'$ ' + item.flower.price * item.getQuantity()}">0</span>-->
                                                        <span class="header__cart-item-price"
                                                              th:text="${'$ ' + item.flower.price}"></span>

                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="header__cart-list-btn">
                                            <form th:action="@{/buyer/wishlist}" method="get">
                                                <input class="btn-view-cart" type="submit" value="View wishlist">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--                            </li><li class="header__item-icon">-->
                            <!--                                &lt;!&ndash; Cart layout &ndash;&gt;-->
                            <!--                                <div class="header__cart">-->
                            <!--                                    <div class="header__cart-wrap">-->
                            <!--                                        <i class="header__cart-icon fa-solid fa-cart-shopping"></i>-->
                            <!--                                        <span class="header__cart-notice"> 10 </span>-->

                            <!--                                        &lt;!&ndash; No wishlist: header__cart-list&#45;&#45;no-wishlist &ndash;&gt;-->
                            <!--                                        <div class="header__cart-list">-->
                            <!--                                            <span class="header__cart-list-no-wishlist-msg">-->
                            <!--                                                Your shopping wishlist is empty!-->
                            <!--                                            </span>-->

                            <!--                                            &lt;!&ndash; Cart item &ndash;&gt;-->
                            <!--                                            <ul class="header__cart-list-item">-->
                            <!--                                                <li class="header__cart-item">-->
                            <!--                                                    <img src="https://flowerista.themability.com/image/cache/catalog/products/6-75x90.jpg"-->
                            <!--                                                        alt="" class="header__cart-img">-->
                            <!--                                                    <div class="header__cart-item-info">-->
                            <!--                                                        <div class="header__cart-item-head">-->
                            <!--                                                            <h5 class="header__cart-item-name">Hiptage</h5>-->
                            <!--                                                            <form th:action="@{/}" method="get">-->
                            <!--                                                                <button class="header__cart-item-remove">-->
                            <!--                                                                    <i-->
                            <!--                                                                        class="fa-solid fa-circle-xmark header__cart-item-icon-remove"></i>-->
                            <!--                                                                    <span-->
                            <!--                                                                        class="header__cart-item-remove-msg">Remove</span>-->
                            <!--                                                                </button>-->
                            <!--                                                            </form>-->
                            <!--                                                        </div>-->
                            <!--                                                        <div class="header__cart-item-body">-->
                            <!--                                                            <span class="header__cart-item-qnt">1</span>-->
                            <!--                                                            <span class="header__cart-item-multiply">x</span>-->
                            <!--                                                            <span class="header__cart-item-price">120.000 VND</span>-->
                            <!--                                                        </div>-->
                            <!--                                                    </div>-->
                            <!--                                                </li>-->
                            <!--                                                <li class="header__cart-item">-->
                            <!--                                                    <img src="https://flowerista.themability.com/image/cache/catalog/products/6-75x90.jpg"-->
                            <!--                                                        alt="" class="header__cart-img">-->
                            <!--                                                    <div class="header__cart-item-info">-->
                            <!--                                                        <div class="header__cart-item-head">-->
                            <!--                                                            <h5 class="header__cart-item-name">Hiptage</h5>-->
                            <!--                                                            <form th:action="@{/}" method="get">-->
                            <!--                                                                <button class="header__cart-item-remove">-->
                            <!--                                                                    <i-->
                            <!--                                                                        class="fa-solid fa-circle-xmark header__cart-item-icon-remove"></i>-->
                            <!--                                                                    <span-->
                            <!--                                                                        class="header__cart-item-remove-msg">Remove</span>-->
                            <!--                                                                </button>-->
                            <!--                                                            </form>-->
                            <!--                                                        </div>-->
                            <!--                                                        <div class="header__cart-item-body">-->
                            <!--                                                            <span class="header__cart-item-qnt">1</span>-->
                            <!--                                                            <span class="header__cart-item-multiply">x</span>-->
                            <!--                                                            <span class="header__cart-item-price">120.000 VND</span>-->
                            <!--                                                        </div>-->
                            <!--                                                    </div>-->
                            <!--                                                </li>-->
                            <!--                                            </ul>-->
                            <!--                                            <hr class="short-line">-->
                            <!--                                            <div class="header__cart-list-detail">-->
                            <!--                                                <span class="header__cart-list-detail-total">Total</span>-->
                            <!--                                                <span class="header__cart-list-detail-price">122.000 VND</span>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="header__cart-list-btn">-->
                            <!--                                                <form th:action="@{/buyer/wishlist}" method="get">-->
                            <!--                                                    <input class="btn-view-cart" type="submit" value="View wishlist" name="Action">-->
                            <!--                                                    &lt;!&ndash;  <input class="btn-view-wishlist" type="submit" value="Checkout"-->
                            <!--                                                            name="Action"> &ndash;&gt;-->
                            <!--                                                </form>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <footer class="footer" th:fragment="footer">
        <div class="grid">
            <div class="footer__wrap">
                <div class="footer__item">
                    <div class="footer__item-contact">
                        <div class="footer__item-logo">
                            <img src="https://flowerista.themability.com/image/catalog/logo.png" alt="Logo"
                                 class="footer__item-logo-img">
                        </div>
                        <div class="footer__item-desc">
                            <span>
                                In a world that blooms and fades, may we find beauty not only in the lasting but in the fleeting, cherishing every petal before it falls.
                                Life is a collection of moments, delicate as petals—may we gather them with gratitude, knowing their beauty lies in their impermanence.
                                In the dance between growth and decay, love is the fragrance that lingers, making every moment worth embracing.
                                Life blooms best when shared—may we grow together, finding beauty not in perfection, but in the joy of each new beginning.
                            </span>
                        </div>
                    </div>

                </div>
                <div id="contact" class="footer__item">
                    <div class="footer__item-contact">
                        <h2 class="footer__item-title">Contact</h2>
                        <ul class="footer__item-contact-list">
                            <li class="footer__item-contact-list-item">
                                    <span href="" class="footer__item-contact-list-item-link">
                                        <i
                                                class="footer__item-contact-list-item-link-icon fa-solid fa-location-dot"></i>
                                        <span>Vinhome Grandpark,Thu Duc City,Ho Chi Minh City, Viet Nam</span>
                                    </span>
                            </li>

                            <li class="footer__item-contact-list-item">
                                    <span href="" class="footer__item-contact-list-item-link">
                                        <i class="footer__item-contact-list-item-link-icon fa-solid fa-phone"></i>
                                        <span>070.334.6041</span>
                                    </span>
                            </li>



                            <li class="footer__item-contact-list-item">
                                    <span href="" class="footer__item-contact-list-item-link">
                                        <i class="footer__item-contact-list-item-link-icon fa-solid fa-envelope"></i>
                                        <span>vannhuquynhp@gmail.com</span>
                                    </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__item">
                    <div class="footer__item-contact">
                        <h2 class="footer__item-title">Information</h2>
                        <ul class="footer__item-contact-list">
                            <li class="footer__item-contact-list-item">
                                <a th:href="@{/terms/conditions}" class="footer__item-contact-list-item-link">
                                    <span>Terms & Conditions</span>
                                </a>
                            </li>

                            <li class="footer__item-contact-list-item">
                                <a th:href="@{/about/us}" class="footer__item-contact-list-item-link">
                                    <span>About Us</span>
                                </a>
                            </li>

                            <li class="footer__item-contact-list-item">
                                <a th:href="@{/privacy/policy}" class="footer__item-contact-list-item-link">
                                    <span>Privacy Policy</span>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </footer>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/price-range.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/main.js"></script>
<script src="/js/base.js"></script>

</body>

</html>
