<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventFlowerExchange</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/all.min.css">
   <link rel="stylesheet" href="/css/base.css">
   <link rel="stylesheet" href="/css/category.css">

    <!-- <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css"> -->
</head>

<body>
    <div class="wrap">
        <!-- Nav Bar -->
        <nav class="navbar" th:replace="~{base :: navbar}">

        </nav>

        <!-- Header -->
        <header class="header" th:replace="~{base :: header}">

        </header>

        <div class="container">
            <div class="container__wrap">
                <!-- Breadbrum -->
                <div th:if="${not #strings.isEmpty(msg.keyword)}">
                    <div class="breadbrum">
                        <h1 class="breadbrum__title">Search For:
                        <span th:text="${msg.keyword}"></span>
                        </h1><br>
                        <ul class="breadbrum__element-list">
                            <li class="breadbrum__element-list-item">
                                <a href="home.html" class="breadbrum__element-list-item-link">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>
                            <li class="breadbrum__element-list-item">
                                <a href="" class="breadbrum__element-list-item-link">
                                    <i class="fa-solid fa-angles-right"></i>
                                    <span>Search</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div th:if="${#strings.isEmpty(msg.keyword)}">
                    <div class="breadbrum">
                        <h1 class="breadbrum__title">All Products</h1><br>
                        <ul class="breadbrum__element-list">
                            <li class="breadbrum__element-list-item">
                                <a href="home.html" class="breadbrum__element-list-item-link">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>

<!--                            <li class="breadbrum__element-list-item">-->
<!--                                <a href="" class="breadbrum__element-list-item-link">-->
<!--                                    <i class="fa-solid fa-angles-right"></i>-->
<!--                                    <span>Event</span>-->
<!--                                </a>-->
<!--                            </li>-->

                            <li class="breadbrum__element-list-item">
                                <a href="" class="breadbrum__element-list-item-link">
                                    <i class="fa-solid fa-angles-right"></i>
                                    <span>Products</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>

                </div>

                <div class="grid content">
                    <!-- Side bar -->
                    <div class="sidebar">
                        <div class="sidebar__category">
                            <h3 class="sidebar__heading">Categories</h3>
                            <ul class="sidebar__list">
                                <li class="sidebar__item">
                                    <a href="#" class="sidebar__item-link">
                                        <span>Wedding</span>
                                    </a>
                                </li>
                                <li class="sidebar__item">
                                    <a href="#" class="sidebar__item-link">
                                        <span>Birthday</span>
                                    </a>
                                </li>
                                <li class="sidebar__item">
                                    <a href="#" class="sidebar__item-link">
                                        <span>Anniversary</span>
                                    </a>
                                </li>
                                <li class="sidebar__item">
                                    <a href="#" class="sidebar__item-link">
                                        <span>Mother's Day</span>
                                    </a>
                                </li>
                                <li class="sidebar__item">
                                    <a href="#" class="sidebar__item-link">
                                        <span>Graduation</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="flower-table">
                        <div class="flower-table__sort-bar">
                            <div class="grid-icon">
                                <i class="fa-solid fa-table-cells"></i>
                                <span>Grid View</span>
                            </div>
                            <div class="list-icon">
                                <i class="fa-solid fa-list sort-list"></i>
                                <span>List View</span>
                            </div>
                            <span>Found: (
                                <span th:text="${#lists.size(msg.flowerList)}"></span>
                                ) Results</span>
                        </div>
                        <!-- Flower Grid -->
                        <div class="flower__grid active-view">
                            <div th:each="item : ${msg.flowerList}" class="flower__item">
                                <div class="flower__img">
                                    <img th:src="@{${item.images[0].link}}"  alt="Flower Image">
                                    <div class="overlay">
                                        <form th:action="@{/buyer/wishlist}" method="post">
                                            <div th:if="${session.acc != null}">
                                                <input type="hidden" name="quantity" value="1">
                                                <input type="hidden" name="flowerId" th:value="${item.id}">
                                                <input type="hidden" name="accountId" th:value="${session.acc.getId()}">
                                            </div>
                                            <button class="add-to-wishlist">
                                                <i class="fa-solid fa-heart"></i>
                                                <span class="add-to-wishlist__msg">Add To Wishlist</span>
                                            </button>
                                        </form>

                                        <form th:action="@{/buyer/flower/detail}" method="get">
                                            <button class="view-detail">
                                                <i class="fa-solid fa-eye"></i>
                                                <span class="view-detail__msg">View detail</span>
                                                <input type="hidden" name="id" th:value="${item.id}">
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <form th:action="@{/buyer/flower/detail}" class="form" th:method="post">
                                    <input type="submit" name="action" th:value="${item.name}" class="flower__name">
                                    </input>
                                    <input type="hidden" name="id" th:value="${item.id}">
                                </form>
                                <div class="flower__content">
                                    <span>
                                        $
                                         <span th:text="${item.price}"></span>
                                    </span>
                                    <span>Sold: 1000</span>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Flower List -->
                        <div  class="flower-list ">
                            <div th:each="item : ${msg.flowerList}" class="flower-list__item">
                                <img th:src="${item.images[0].link}" alt="">
                                <div class="flower-list__item-content">
                                    <form th:action="@{/buyer/flower/detail}" class="form" method="post">
                                        <input type="submit" name="action" th:value="${item.name}" class="flower__name">

                                        </input>
                                        <input type="hidden" name="id" th:value="${item.id}">
                                    </form>
                                    <div class="flower-list__content">
                                        $<span th:text="${item.price}"></span>
                                        <span>Sold: 1000</span>
                                    </div>
                                    <form th:action="@{/}" method="get">
                                        <button class="flower-list__icon flower-list__icon-wishlist">
                                            <i class="fa-solid fa-heart"></i>
                                            <span class="add-to-wishlist__msg">Add To Wishlist</span>
                                        </button>
                                    </form>
                                    <form th:action="@{/buyer/flower/detail}" method="post">
                                        <button class="flower-list__icon flower-list__icon-detail">
                                            <i class="fa-solid fa-eye"></i>
                                            <span class="view-detail__msg">View detail</span>
                                            <input type="hidden" name="id" th:value="${item.id}">
                                        </button>
                                    </form>
                                    <!-- <a href="#" class="flower-list__icon flower-list__icon-wishlist">
                                        <i class="fa-solid fa-heart"></i>
                                        <span class="add-to-wishlist__msg">Add To Wishlist</span>
                                    </a>

                                    <a href="#" class="flower-list__icon flower-list__icon-detail">
                                        <i class="fa-solid fa-eye"></i>
                                        <span class="view-detail__msg">View detail</span>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- Footer -->
        <footer class="footer" th:replace="~{base :: footer}">

        </footer>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/price-range.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/category.js"></script>
</body>

</html>