<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventFlowerExchange</title>

    <!--    <link rel="stylesheet" href="/src/main/resources/static/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" href="/src/main/resources/static/css/all.min.css">-->
    <!--    <link rel="stylesheet" href="/src/main/resources/static/css/base.css">-->
    <!--    <link rel="stylesheet" href="/src/main/resources/static/css/main.css">-->
    <!--    <link rel="stylesheet" href="/src/main/resources/static/css/checkoutBusinessPlan.css">-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/checkoutBusinessPlan.css">

</head>

<body>
<div class="wrap">
    <!-- Header -->
    <header class="header" th:fragment="header">
        <div class="grid">
            <div class="header__wrap">
                <a href="" class="header__item back-link" onclick="window.history.back(); return false;">
                    <h1>
                        <i class="fa-solid fa-arrow-left"></i>
                        Back
                    </h1>
                </a>

                <!-- Logo -->
                <a href="home.html" class="header__item">
                    <div class="header__item-logo">
                        <img src="/img/flowrista-logo.png" alt="Logo"
                             class="header__item-logo-img">
                    </div>
                </a>
            </div>
        </div>
    </header>

    <!-- Container -->
    <div class="container">
        <div class="container__wrap">
            <div class="business-plan__checkout">
                <!-- Header -->
                <header class="business-plan__checkout-header">
                    <!-- <div class="logo">Logo của bạn</div> -->
                    <h1 class="business-plan__checkout-title">Checkout Business Plan</h1>
                </header>

                <!-- Thông tin Business Plan -->
                <section class="plan-info">
                    <h2 class="plan-info-title">Business Plan Information</h2>
                    <div class="plan-details">
                        <p class="plan-details-name display-p"><strong>Plan name:</strong></p>
                        <span class="font-size" th:text="${msg.name}">EFEP</span>
                        <p class="plan-details-service"><strong>Service:</strong></p>
                        <ul th:each="item : ${msg.planServiceList}">
                            <li class="font-size" th:text="${item.businessService.name}">Service 1</li>
                        </ul>
                        <p class="plan-details-duration display-p"><strong>Duration:</strong></p>
                        <span class="font-size" th:text="${msg.duration}">12</span> <span class="font-size">Months</span>
                        <div class="display-total">
                            <p class="plan-details-total"><strong>Total:</strong></p>
                            <span class="plan-details-price" th:text="${msg.price}">$120</span> <span class="font-size">per month</span>
                        </div>

                    </div>
                </section>

                <!-- Phương thức thanh toán -->
                <section class="payment-method">
                    <h2 class="payment-method-title">Payment Method</h2>
                    <p>Payment via VNPay</p>
                    <img src="https://downloadlogomienphi.com/sites/default/files/logos/download-logo-vector-vnpayqr-2021-mien-phi.jpg"
                         alt="VNPay Logo" class="vnpay-logo">
                </section>

                <!-- Xác nhận thanh toán -->
                <section class="checkout">
                    <form th:action="@{/seller/order/payment}" method="post">
                        <input type="hidden" name="amount" value="10000000">
                        <input type="hidden" name="businessPlanId" th:value="${msg.id}">
                        <button class="checkout-btn" value="Checkout" name="Action">Checkout</button>
                    </form>
                </section>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="footer" th:fragment="footer">
        <div class="grid">
            <div class="footer__wrap">
                <div class="footer__item">
                    <div class="footer__item-contact">
                        <div class="footer__item-logo">
                            <img src="https://flowerista.themability.com/image/catalog/logo.png" alt="Logo"
                                 class="footer__item-logo-img">
                        </div>
                        <div class="footer__item-desc">
                            <!-- <span>Anh đã hát lên từng bài nhạc ngày xưa
                                Và bài ca cuốn lấy trái tim của những người con gái mộng mơ
                                Không bơ vơ
                                Khi vây quanh anh là những đôi mắt nhìn theo hò reo
                                Cũng vì chặng đường tương lai mà mình phải chia hai
                                Nốc thêm khoảng một hai chai, tâm sự cùng cây mic
                                Và đến khi anh cất lời
                                Là giấc mơ mang cả đời -->
                            Khi anh đã có tất cả rồi lại chẳng còn em nữa
                            Khi ta đã đủ sự trưởng thành lại chẳng dành nó cho đối phương
                            Tình yêu này có thật đáng thương? (Oh no)
                            Ở phía dưới ngọn đèn, có gã khờ đang hát
                            Cố gắng mỉm cười, nhưng trong lòng tan nát
                            Mất đi người rất quan trọng
                            Có lẽ vì quá tham vọng
                            Không thấy vui trong lòng
                            Anh nhớ góc tối ở trong căn phòng
                            Anh nhớ phút đón hoàng hôn cùng người con gái vàng son
                            Chỉ tại anh chẳng thể nắm tay em, giữ tay em, níu tay em
                            Lâu hơn một chút
                            Để anh ổn định cảm xúc
                            Có lẽ đến lúc chấm dứt, kết thúc thật rồi
                            Ký ức lại triệu hồi nỗi đau</span>
                        </div>
                        <ul class="footer__item-contact-list footer__item-contact-list-icons">
                            <li class="footer__item-contact-list-item footer__item-contact-list-item-media">
                                <a href="" class="footer__item-contact-list-item-link">
                                    <i class="footer__item-contact-list-item-link-icon fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="footer__item-contact-list-item footer__item-contact-list-item-media">
                                <a href="" class="footer__item-contact-list-item-link">
                                    <i class="footer__item-contact-list-item-link-icon fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li class="footer__item-contact-list-item footer__item-contact-list-item-media">
                                <a href="" class="footer__item-contact-list-item-link">
                                    <i class="footer__item-contact-list-item-link-icon fa-brands fa-whatsapp"></i>
                                </a>
                            </li>
                            <li class="footer__item-contact-list-item footer__item-contact-list-item-media">
                                <a href="" class="footer__item-contact-list-item-link">
                                    <i class="footer__item-contact-list-item-link-icon fa-brands fa-pinterest"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="footer__item">
                    <div class="footer__item-contact">
                        <h2 class="footer__item-title">Contact</h2>
                        <ul class="footer__item-contact-list">
                            <li class="footer__item-contact-list-item">
                                    <span href="" class="footer__item-contact-list-item-link">
                                        <i
                                                class="footer__item-contact-list-item-link-icon fa-solid fa-location-dot"></i>
                                        <span>National park,d1 588436,United States</span>
                                    </span>
                            </li>

                            <li class="footer__item-contact-list-item">
                                    <span href="" class="footer__item-contact-list-item-link">
                                        <i class="footer__item-contact-list-item-link-icon fa-solid fa-phone"></i>
                                        <span>+91 123 456 789</span>
                                    </span>
                            </li>

                            <li class="footer__item-contact-list-item">
                                    <span href="" class="footer__item-contact-list-item-link">
                                        <i class="footer__item-contact-list-item-link-icon fa-solid fa-fax"></i>
                                        <span>0123-456-789</span>
                                    </span>
                            </li>

                            <li class="footer__item-contact-list-item">
                                    <span href="" class="footer__item-contact-list-item-link">
                                        <i class="footer__item-contact-list-item-link-icon fa-solid fa-envelope"></i>
                                        <span>demo@Yourstore.com</span>
                                    </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__item">
                    <div class="footer__item-contact">
                        <h2 class="footer__item-title">Information</h2>
                        <ul class="footer__item-contact-list">
                            <li class="footer__item-contact-list-item">
                                <a href="" class="footer__item-contact-list-item-link">
                                    <span>Terms & Conditions</span>
                                </a>
                            </li>

                            <li class="footer__item-contact-list-item">
                                <a href="" class="footer__item-contact-list-item-link">
                                    <span>Delivery Information</span>
                                </a>
                            </li>

                            <li class="footer__item-contact-list-item">
                                <a href="" class="footer__item-contact-list-item-link">
                                    <span>About Us</span>
                                </a>
                            </li>

                            <li class="footer__item-contact-list-item">
                                <a href="" class="footer__item-contact-list-item-link">
                                    <span>Privacy Policy</span>
                                </a>
                            </li>

                            <li class="footer__item-contact-list-item">
                                <a href="" class="footer__item-contact-list-item-link">
                                    <span>Contact Us</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</div>
<script src="/js/jquery.js"></script>
<script src="/js//bootstrap.min.js"></script>
<script src="/js//jquery.scrollUp.min.js"></script>
<script src="/js//price-range.js"></script>
<script src="/js//jquery.prettyPhoto.js"></script>
</body>

</html>