<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventFlowerExchange</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="/src/main/resources/static/css/all.min.css">-->
<!--    <link rel="stylesheet" href="/src/main/resources/static/css/base.css">-->
<!--    <link rel="stylesheet" href="/src/main/resources/static/css/main.css">-->

    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/choosePlan.css">

</head>

<body>
    <div class="wrap">
        <!-- Header -->
        <header class="header" th:fragment="header">
            <div class="grid">
                <div class="header__wrap">
                    <a href="" class="header__item back-link" onclick="window.history.back(); return false;">
                        <h1>
                            <i class="fa-solid fa-arrow-left"></i>
                            Back
                        </h1>
                    </a>

                    <!-- Logo -->
                    <a href="home.html" class="header__item">
                        <div class="header__item-logo">
                            <img src="/img/flowrista-logo.png" alt="Logo"
                                class="header__item-logo-img">
                        </div>
                    </a>
                </div>
            </div>
        </header>

        <!-- Container -->
        <div class="container">
            <div class="container__wrap">
                <form th:action="@{/seller/view/plan}" th:method="post" class="introduction-block">
                    <i class="fa-regular fa-circle-check introduction-block__icon"></i>
                    <div class="step">
                        <span>Step</span>
                        <span>1/2</span>
                    </div>
                    <h1 class="introduction-block__heading">Choose your Business Plan</h1>
                    <div class="commitment">
                        <i class="fa-solid fa-check"></i>
                        <span>No commitment required, cancel anytime.</span>
                    </div>
                    <div class="commitment">
                        <i class="fa-solid fa-check"></i>
                        <span>Everything on Flowerista for one low price.</span>
                    </div>
                    <div class="commitment">
                        <i class="fa-solid fa-check"></i>
                        <span>No ads, free. Always.</span>
                    </div>
                    <input class="next-btn" type="submit" name="action" value="Continue">
                </form>
            </div>
        </div>



        <!-- Footer -->
        <footer class="footer" th:replace="~{base :: footer}">

        </footer>
    </div>

</body>

</html>