<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Plan Page</title>
    
<!--    <link rel="stylesheet" href="/src/main/resources/static/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="/src/main/resources/static/css/all.min.css">-->
<!--    <link rel="stylesheet" href="/src/main/resources/static/css/base.css">-->
<!--    <link rel="stylesheet" href="/src/main/resources/static/css/main.css">-->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/planList.css">
    <link rel="stylesheet" href="/css/base.css">


</head>

<body>
<div class="wrap">
    <!-- Header -->
    <header class="header" th:fragment="header">
        <div class="grid">
            <div class="header__wrap">
                <a href="" class="header__item back-link" onclick="window.history.back(); return false;">
                    <h1>
                        <i class="fa-solid fa-arrow-left"></i>
                        Back
                    </h1>
                </a>

                <!-- Logo -->
                <a href="home.html" class="header__item">
                    <div class="header__item-logo">
                        <img src="/img/flowrista-logo.png" alt="Logo"
                             class="header__item-logo-img">
                    </div>
                </a>
            </div>
        </div>
    </header>

        <!-- Container -->
        <div class="container">
            <div class="container__wrap">
                <div class="business-plan__list">
                    <div class="step">
                        <span>Step</span>
                        <span>2/3</span>
                    </div>
                    <h1 class="introduction-block__heading">Find the perfect service package tailored just for you!</h1>
                    <div class="business-plan__table">
                        <div class="business-plan__item business-plan__item-free">
                            <span class="business-plan__item-label">Your Current Plan!</span>
                            <div class="business-plan__item-header">
                                <h3 class="business-plan__item-header-name">Free</h3>
                                <h3 class="business-plan__item-header-price">
                                    <span>
                                        <span>$0</span>
                                    </span>
                                    <span>per month</span>
                                </h3>
                            </div>
                            <ul class="business-plan__item-content">
                                <li class="business-plan__item-desc">
                                    <label>Desctiption</label>
                                    <span>This is your free plan for basically starting selling event surplus flower!</span>
                                </li>
                                <li class="business-plan__item-service-list">
                                    <label>Services</label>
                                    <span class="business-plan__item-service-item">Linited: Post only 10 flowers </span>
                                </li>
                                <li class="business-plan__item-duration">
                                    <label>Duration</label>
                                    <span>Forever</span>
                                </li>
                            </ul>
                        </div>
                        <div th:each="plan : ${msg.businessPlanList}" class="business-plan__item">
                            <div class="business-plan__item-header">
                                <h3 class="business-plan__item-header-name" th:text="${plan.name}"></h3>
                                <h3 class="business-plan__item-header-price">
                                    <span>
                                        <span>$</span>
                                        <span th:text="${plan.price}"></span>
                                    </span>
                                    <span>per month</span>
                                </h3>
                            </div>
                            <ul class="business-plan__item-content">
                                <li class="business-plan__item-desc">
                                    <label>Desctiption</label>
                                    <span th:text="${plan.description}"></span>
                                </li>
                                <li class="business-plan__item-service-list">
                                    <label>Services</label>
                                    <span th:each="service : ${plan.businessServiceList}" th:text="${service.name}"  class="business-plan__item-service-item">
                                    </span>
                            </li>
                            <li class="business-plan__item-duration">
                                <label>Duration</label>
                                <span th:text="${plan.duration}"></span>
                                <span>Months</span>
                            </li>
                        </ul>
                        <form th:action="@{/seller/order/confirm}" th:method="get">
                            <input type="hidden" name="busPlanId" th:value="${plan.id}">
                            <input type="submit" class="checkout-btn" name="action" value="Order Now">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="footer" th:replace="~{base :: footer}">

    </footer>
</div>

</body>

</html>