<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventFlowerExchange</title>

    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/viewOrderSummary.css">
    <link rel="stylesheet" href="/css/base.css">
<!--    <link rel="stylesheet" href="/src/main/resources/static/css/all.min.css">-->
<!--    <link rel="stylesheet" href="/src/main/resources/static/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="/src/main/resources/static/css/viewOrderSummary.css">-->
<!--    <link rel="stylesheet" href="/src/main/resources/static/css/base.css">-->

</head>

<body>
    <div class="wrap">
        <!-- Nav Bar -->
<!--        <nav class="navbar" th:replace="~{base :: navbar}">-->

<!--        </nav>-->

        <!-- Header -->
<!--        <header class="header" th:replace="~{base :: header}">-->

<!--        </header>-->

        <div class="container">
            <div class="notify-block" th:if="${msg}">
                <div class="notify-msg-success font-size-text" th:if="${msg.status == '200'}">
                    <span id="paymentStatus" th:text="${msg.message}">Payment successful! Thank you for your purchase.</span>
                </div>
                <div class="notify-msg-fail font-size-text" th:if="${msg.status == '400'}">
                    <span id="paymentStatus1" th:text="${msg.message}">Payment failed! Please check your information or try again later.</span>
                </div>
                <div class="notify-btn">
                    <form th:action="@{/manageFlower}" method="get">
                        <input class="btn-home" type="submit" value="Back home" name="Action">
                    </form>
                </div>
                You will be redirected to the homepage in <span id="countdown">5</span> seconds.</span>
            </div>
            <div class="order-invoice" th:if="${msg != null && msg.status == '200'}">
                <div class="purchase">
                    <h3 class="purchase-header text-color">Purchase Information</h3>
                    <p class="prop-tag">EFEP</p>
                    <p class="prop-tag">gmail</p>
                    <p class="prop-tag">090909090</p>
                    <h3 class="purchase-payment text-color">Payment Method</h3>
                    <p class="prop-tag">Payment via VNPAY</p>
                </div>
                <div class="order-confirm">
                    <div class="order-code">
                        <p>Order</p>
                        <span>312318</span>
                        <span>(Quantity pro of order)</span>
                    </div>
                    <table border="1" cellpadding="5" cellspacing="0" width="100%">
                        <tr class="tr-item">
                            <td class="table-item-image-pro">
                                <div class="table-item-img">
                                    <img src="https://flowerista.themability.com/image/cache/catalog/products/6-75x90.jpg"
                                         alt="">
                                </div>
                            </td>
                            <td class="table-item-name">name pro</td>
                            <td class="table-item-qnt">1</td>
                            <td class="table-item-price">$550</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="table-item-total">Total</td>
                            <td class="table-item-total-price">$550</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer" th:fragment="footer">
            <div class="grid">
                <div class="footer__wrap">
                    <div class="footer__item">
                        <div class="footer__item-contact">
                            <h2 class="footer__item-title">Contact</h2>
                            <ul class="footer__item-contact-list">
                                <li class="footer__item-contact-list-item">
                                    <span href="" class="footer__item-contact-list-item-link">
                                        <i
                                            class="footer__item-contact-list-item-link-icon fa-solid fa-location-dot"></i>
                                        <span>National park,d1 588436,United States</span>
                                    </span>
                                </li>

                                <li class="footer__item-contact-list-item">
                                    <span href="" class="footer__item-contact-list-item-link">
                                        <i class="footer__item-contact-list-item-link-icon fa-solid fa-phone"></i>
                                        <span>+91 123 456 789</span>
                                    </span>
                                </li>

                                <li class="footer__item-contact-list-item">
                                    <span href="" class="footer__item-contact-list-item-link">
                                        <i class="footer__item-contact-list-item-link-icon fa-solid fa-fax"></i>
                                        <span>0123-456-789</span>
                                    </span>
                                </li>

                                <li class="footer__item-contact-list-item">
                                    <span href="" class="footer__item-contact-list-item-link">
                                        <i class="footer__item-contact-list-item-link-icon fa-solid fa-envelope"></i>
                                        <span>demo@Yourstore.com</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer__item">
                        <div class="footer__item-contact">
                            <h2 class="footer__item-title">Information</h2>
                            <ul class="footer__item-contact-list">
                                <li class="footer__item-contact-list-item">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <span>Terms & Conditions</span>
                                    </a>
                                </li>

                                <li class="footer__item-contact-list-item">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <span>Delivery Information</span>
                                    </a>
                                </li>

                                <li class="footer__item-contact-list-item">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <span>About Us</span>
                                    </a>
                                </li>

                                <li class="footer__item-contact-list-item">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <span>Privacy Policy</span>
                                    </a>
                                </li>

                                <li class="footer__item-contact-list-item">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <span>Contact Us</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer__item">
                        <div class="footer__item-contact">
                            <h2 class="footer__item-title">My Account</h2>
                            <ul class="footer__item-contact-list">
                                <li class="footer__item-contact-list-item">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <span>My Account</span>
                                    </a>
                                </li>

                                <li class="footer__item-contact-list-item">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <span>Order History</span>
                                    </a>
                                </li>

                                <li class="footer__item-contact-list-item">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <span>Wish List</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer__item">
                        <div class="footer__item-contact">
                            <h2 class="footer__item-title">Find Us On</h2>
                            <ul class="footer__item-contact-list footer__item-contact-list-icons">
                                <li class="footer__item-contact-list-item footer__item-contact-list-item-media">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <i class="footer__item-contact-list-item-link-icon fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="footer__item-contact-list-item footer__item-contact-list-item-media">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <i class="footer__item-contact-list-item-link-icon fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="footer__item-contact-list-item footer__item-contact-list-item-media">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <i class="footer__item-contact-list-item-link-icon fa-brands fa-whatsapp"></i>
                                    </a>
                                </li>
                                <li class="footer__item-contact-list-item footer__item-contact-list-item-media">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <i class="footer__item-contact-list-item-link-icon fa-brands fa-pinterest"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="footer__item-contact">
                            <h2 class="footer__item-title">Payment</h2>
                            <ul class="footer__item-contact-list footer__item-contact-list-icons">
                                <li class="footer__item-contact-list-item footer__item-contact-list-item-media">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <i class="footer__item-contact-list-item-link-icon fa-brands fa-cc-visa"></i>
                                    </a>
                                </li>
                                <li class="footer__item-contact-list-item footer__item-contact-list-item-media">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <i
                                            class="footer__item-contact-list-item-link-icon fa-brands fa-cc-mastercard"></i>
                                    </a>
                                </li>
                                <li class="footer__item-contact-list-item footer__item-contact-list-item-media">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <i class="footer__item-contact-list-item-link-icon fa-brands fa-cc-paypal"></i>
                                    </a>
                                </li>
                                <li class="footer__item-contact-list-item footer__item-contact-list-item-media">
                                    <a href="" class="footer__item-contact-list-item-link">
                                        <i
                                            class="footer__item-contact-list-item-link-icon fa-brands fa-cc-discover"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="/js/base.js"></script>
</body>

</html>