<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventFlowerExchange</title>

    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/viewWishlist.css">
    <link rel="stylesheet" href="/css/base.css">
    <!-- <link rel="stylesheet" href="/src/main/resources/static/css/all.min.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/viewWishlist.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/base.css"> -->
</head>

<body>
    <div class="wrap">
        <!-- Nav Bar -->
        <nav class="navbar" th:replace="~{base :: navbar}">

        </nav>

        <!-- Header -->
        <header class="header" th:fragment="header">
            <div class="grid">
                <div class="header__wrap">
                    <!-- Logo -->
                    <a th:href="@{/}" class="header__item">
                        <div class="header__item-logo">
                            <img src="/img/flowrista-logo.png" alt="Logo" class="header__item-logo-img">
                        </div>
                    </a>

                    <!-- Icons -->
                    <div class="header__item">
                        <ul class="header__item-list-icon">
                            <li class="header__item-icon header__item-icon-search" tabindex="0">
                                <i class="header__item-icon-search fa-solid fa-magnifying-glass">
                                    <form th:action="@{/buyer/flower/search}" class="header__item-search-box"
                                        method="post">
                                        <input type="text" class="header__item-search-input" name="name"
                                            placeholder="Search...">
                                        <button class="header__item-search-icon">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </form>
                                </i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="container__wrap">
                <div class="wishlist-show" th:if="${msg != null}">
                    <div class="table-item-cart">
                        <div class="btn-delete-wishlist">
                            <form th:action="@{/buyer/wishlist}" th:method="delete">
                                <input type="hidden" name="wishlistId"
                                    th:value="${session.acc.getUser().getWishlist().getId()}">
                                <button class="btn-delete">Delete Wishlist</button>
                            </form>
                        </div>
                        <table border="1" cellpadding="5" cellspacing="0" width="100%">
                            <!-- <caption>Tiêu đề Bảng</caption> -->
                            <thead>
                                <tr>
                                    <th class="table-item-header">Image</th>
                                    <th class="table-item-header">Name</th>
                                    <th class="table-item-header">Model</th>
                                    <th class="table-item-header">Quantity</th>
                                    <th class="table-item-header">Price</th>
                                    <th class="table-item-header">Total</th>
                                    <th class="table-item-header">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item : ${msg.wishlistItemList}">
                                    <td class="table-item-detail">
                                        <div class="table-item-img">
                                            <img th:src="${item.imgList[0].link}"
                                                alt="">
                                        </div>
                                    </td>
                                    <td class="table-item-detail">
                                        <span class="table-item-name" th:text="${item.name}">Hiptage</span>
                                    </td>
                                    <td class="table-item-detail">
                                        <span class="table-item-id" th:text="'Product ' + ${item.id}">Product 1</span>
                                    </td>
                                    <td class="table-item-detail">
                                        <div class="table-item-quantity">
                                            <form class="form-quantity" th:action="@{/buyer/wishlist}" th:method="put">
                                                <input type="hidden" name="wishlistId" th:value="${item.id}">
                                                <input type="hidden" name="wishlistItemId" th:value="${item.id}">
                                                <input type="hidden" name="request" value="desc">
                                                <button class="table-item-btn-decrease" type="submit"
                                                    th:disabled="${item.quantity == 1}">-</button>
                                            </form>

                                            <span class="input-quantity" th:text="${item.quantity}">1</span>

                                            <form th:action="@{/buyer/wishlist}" th:method="put">
                                                <input type="hidden" name="wishlistId" th:value="${item.id}">
                                                <input type="hidden" name="wishlistItemId" th:value="${item.id}">
                                                <input type="hidden" name="request" value="asc">
                                                <button class="table-item-btn-increase" type="submit">+</button>
                                            </form>

                                            <!--                            <form th:action="@{/}" method="get">-->
                                            <!--                                <button class="table-item-removed">-->
                                            <!--                                    <i class="fa-solid fa-circle-xmark table-item-icon-removed"></i>-->
                                            <!--                                    <span class="table-item-remove-msg">Remove</span>-->
                                            <!--                                </button>-->
                                            <!--                            </form>-->
                                        </div>
                                    </td>
                                    <td class="table-item-detail">
                                        <span class="table-item-price" th:text="'$ ' + ${item.price}">0</span>
                                    </td>
                                    <td class="table-item-detail">
                                        <span class="table-item-total"
                                            th:text="'$ ' + ${item.quantity * item.price}">0</span>
                                    </td>
                                    <td class="table-item-detail padding-delete">
                                        <form class="form-delete" th:action="@{/buyer/wishlist-item}" method="post">
                                            <input type="hidden" name="_method" value="delete">
                                            <!-- muốn sử dụng put delete thì t -->
                                            <input type="hidden" name="accountId" th:value="${session.acc.getId()}">
                                            <input type="hidden" name="wishlistItemId" th:value="${item.id}">
                                            <button class="table-item-removed">
                                                <i class="fa-solid fa-circle-xmark table-item-icon-removed"></i>
                                            </button>
                                            <!--                            <input type="submit" name="action" class="table-item-removed">-->
                                            <!--                                <i class="fa-solid fa-circle-xmark table-item-icon-removed"></i>-->
                                            <!--                            </input>-->

                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <form th:action="@{/buyer/flower}" method="get">
                            <input class="btn-cart-continue" type="submit" value="Continue shopping" name="Action">
                        </form>
                    </div>
                    <div class="total__wishlist">
                        <h2 class="total__wishlist-header">Total wishlist</h2>
                        <hr class="line">
                        <div class="total__wishlist-detail">
                            <span class="total__wishlist-detail-title">Total</span>
                            <span class="total__wishlist-detail-price" th:text="${'$ ' + msg.totalPrice}">0</span>
                        </div>
                        <div class="btn-cart">
                            <form th:action="@{/buyer/order/confirm}" method="get">
                                <input class="btn-cart-checkout" type="submit" value="Confirm order" name="Action">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="shopping-wishlist-empty" th:if="${msg == null}">
                    <span class="empty-msg">Your wishlist is empty. Buy flower now </span>
                    <form class="btn-form-empty" th:action="@{/buyer/flower}" method="get">
                        <input class="btn-cart-continue" type="submit" value="Continue shopping" name="Action">
                    </form>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer" th:replace="~{base :: footer}">

        </footer>
    </div>
    <script src="/js/base.js"></script>
    <script src="/js/wishList.js"></script>
</body>

</html>